@{
    Layout = "_Layout";
}

@using YourAnimeList.Models
@model YourAnimeListContext



<h1>Hello @GlobalVar.CurrentUser.UserName</h1>
@Html.ActionLink("Return Home", "Index", "Home")

@foreach (AnimeFull anime in ViewBag.Treasure)
{

    @Html.DisplayName(anime.Title_English)
}