@{
    Layout = "_Layout";
}

@using YourAnimeList.Models
@model YourAnimeListContext



<h1>Hello @GlobalVar.CurrentUser.UserName</h1>
@Html.ActionLink("Return Home", "Index", "Home")

<br>
@foreach (Anime anime in ViewBag.Treasure)
{
    <li>@Html.DisplayName(anime.Title)</li>
}