@model IEnumerable<YourAnimeList.Models.Anime>


<h4>Search for Anime</h4>
<form asp-controller="Home" asp-action="Index">
    <p>
    Title: <input type="text" name="SearchString">
    </p>
</form>

<h2>All Animes</h2>
<hr />
<ul>

    <div class="row">

        @foreach (var anime in Model)
        {
            <div class="col-md-4"> 
                <div class="artContainer">
                    <a href="@Url.Action("Details", "Home", new { AnimeId = anime.Mal_Id })"><img class="coverArt" src=@Html.DisplayFor(modelItem => anime.Image_Url)>
                    <div class="overlay">
                        <div class="text">Click for Details</div>
                    </div></a>
                </div>
                <li>Title: @Html.DisplayFor(modelItem => anime.Title)</li>
                <li>Synopsis: @Html.DisplayFor(modelItem => anime.Synopsis)</li>
            </div>
        }

    </div>
</ul>