@model IEnumerable<YourAnimeList.Models.Anime>


<h4>Search for Anime</h4>
<form asp-controller="Home" asp-action="Index">
    <p>
    Title: <input type="text" name="SearchString">
    </p>
</form>

<h2>All Animes</h2>
<hr />
<ol>
    @foreach (var anime in Model)
    {
        <li>
            <ul>
                <li>Title: @Html.DisplayFor(modelItem => anime.Title)</li>
                <li>Url: @Html.DisplayFor(modelItem => anime.Url)</li>
                <li>Synopsis: @Html.DisplayFor(modelItem => anime.Synopsis)</li>
                <li>CoverArt: <img src=@Html.DisplayFor(modelItem => anime.Image_Url)></li>
            </ul>
        </li>
    }
</ol>