/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.title {
  text-align: center;
}

li { 
  margin-bottom: 5pt;
}

.noBullet {
  list-style-type: none;
}

.artContainer {
  position: relative;
}

.coverArt {
  display: block;
  width: 100%;
  height: auto;
}

.animeSearch {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.animeSearch {
  background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn1.iconfinder.com%2Fdata%2Ficons%2Fhawcons%2F32%2F698627-icon-111-search-256.png&f=1');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left center;
}

.brand img {
  max-height: 50px;
}

.nav-login {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.navbar {
  background-color: #008CBA !important;
}

.nav-link {
  vertical-align: middle !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.artContainer:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.info {
  vertical-align: middle !important;
}
.stats {
  text-align: center;
  vertical-align: middle !important;
}

.logo-bg {
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin-top: -250px; /* Half the height */
  margin-left: -250px;
}

.searchTitle {
  color: rgb(92, 114, 138);
}

.stat-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.stat {
  margin-bottom: 0 !important;
}

blockquote {
  font-size: 15px !important;
}

.stat-row {
  font-size: 14px;
}

.reco {
  display: flex;
  align-items: center;
  justify-content: center;
}